!!!
%html
  %head
    %title Taulbee Survey Data
    :css
      .heading{
      	color:white;
      	background-color:#500000;
      	height:200%;
      	margin:0;
      	padding:0;
      }
      
      .centered{
      	text-align:center;
      }
	
      .symbol{
      	position:absolute;
      	left:550px;
      	opacity:0.5;
      }
  %body
    .heading
      %h1.centered Taulbee Survey
    - if !flash[:notice].blank?
      .alert.alert-info
        = flash[:notice]
       
        
    %form{:action => site_studentFilterSelection_path}
      %br/
      %label Select Year
      %select{:name => "yearSelected"}
        - @spreadsheets.each do |spreadsheet|
          %option= spreadsheet.name 
        end
      %input{:type => "submit", :value => "Select"}/
    %hr/
        
    .well
    = form_for @spreadsheet, :id => "submitForm", html: { multipart: true } do |f|
      = f.label :year
      %select#queryList{:name => "year"}
        - (1995..2025).each do |i|
          %option{:value => i}= i
      = f.label :attachment
      = f.file_field :attachment
      = f.submit "Save", class: "btn btn-primary"
      
    
    %img{:src => "/images/anm_symbol.png"}
