%html
  %head
    %title Taulbee Survey Data
  %body
    %h1 Taulbee Survey
    %p
      %a{:href => site_index_path}
        %img{:height => "30", :src => "/images/homepageicon.jpg", :width => "30"}/
      %a{:href => site_index_path}
        %img{:height => "30", :src => "/images/previous-icon.png", :width => "30"}/
    %hr
    %p How many filters do you want to apply?
    %input#noOfFilters{:type => "text"}
      %button#confirmNoOfFilters Confirm
    %select#filtersListInner{:onchange => "getSelected(value)", :name => "filter", :style => "visibility: hidden;"}
      - @cats.column_names.each do |column_name|
        %option{:value => column_name}= column_name
    %select#comparatorListInner{:onchange => "getSelected(value)", :name => "comparator", :style => "visibility: hidden;"}
      %option{:value => "="}= "="
      %option{:value => ">"}= ">"
      %option{:value => "<"}= "<"
      %option{:value => ">="}= ">="
      %option{:value => "<="}= "<="
    %input#filterValueInner{:type => "text", :name => "filterValue", :style => "visibility: hidden;"}
    %hr
      %p How many attributes do you want?
      %input#noOfInfo{:type => "text"}
        %button#confirmNoOfInfo Confirm
    %select#attributeListInner{:onchange => "getSelected(value)", :name => "attribute", :style => "visibility: hidden;"}
      - @cats.column_names.each do |column_name|
        %option{:value => column_name}= column_name
      %option{:value => "count"} count
    %p{:id => "testing"}   
    %hr
        
    :plain
      <form id="daForm" action="/site/studentOutput" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="R6tWZgNywVkSWBBcFzhGpcvVQOpv9bTWfT/s5oH2OrLgEhEqzl2EhcnfAwHu/V/ETSdEUKUjGO4BNBKRBJbA4w==" />
          <fieldset>
          <label for="Filters">Filters:</label>
          <div id="filterDiv" name="filterDiv"></div>
          <label for="Attributes">Attributes:</label>
          <div id="attributeDiv" name="attributeDiv"></div>
          <input type="submit" name="commit" value="Apply Filters" />
          </fieldset>
      </form>
    
                
        
      
    :javascript
      var filterChosen = "";
      var comparatorChosen= "";
      var filterValueChosen="";
      var dropdown1="";
      
      document.getElementById("confirmNoOfFilters").onclick=function(cat)
      {
      	var noOfFilters=document.getElementById("noOfFilters").value;
      	
      	for(var i =0; i<noOfFilters; i++)
      	{
          var list = document.getElementById("filtersListInner").cloneNode(true);
          list.style.visibility = "visible";
          list.id = "filter" + i.toString();
          filterDiv.appendChild(list);
          var comparator = document.getElementById("comparatorListInner").cloneNode(true);
          comparator.style.visibility = "visible";
          comparator.id = "comparator" + i.toString();
          filterDiv.appendChild(comparator);
          var filterValue = document.getElementById("filterValueInner").cloneNode(true);
          filterValue.style.visibility = "visible";
          filterValue.id = "filterValue" + i.toString();
          filterDiv.appendChild(filterValue);
          filterDiv.appendChild(document.createElement("br"));
        }
      	
      }
      
      document.getElementById("confirmNoOfInfo").onclick=function(cat)
      {
      	var noOfInfos=document.getElementById("noOfInfo").value;
      	
      	for(var i =0; i<noOfInfos; i++)
      	{
          var list = document.getElementById("attributeListInner").cloneNode(true);
          list.style.visibility = "visible";
          list.name = "attribute" + i.toString()
          attributeDiv.appendChild(list);
          attributeDiv.appendChild(document.createElement("br"));
        }
      	
      }




