%html
  %head
    %title Taulbee Survey Data
  %body
    %h1 Taulbee Survey
    %p
      %a{:href => site_index_path, :id => "home"}
        %img{:height => "30", :src => "/images/homepageicon.jpg", :width => "30"}/
      %a{:href => site_index_path, :id => "back"}
        %img{:height => "30", :src => "/images/previous-icon.png", :width => "30"}/
        
     
    %form{:action => site_studentFilterSelection_path}
      %br
      %label Upload new data file
      %select#queryList{:name => "queryLoad"}
        - @queries.each do |query|
          %option{:value => query.name}= query.name
        end
      %input{:type => "submit", :value => "Load"}/
      
    
        
    %hr
    %p How many filters do you want to apply?
    %input#noOfFilters{:type => "text"}
      %button#confirmNoOfFilters Confirm
    %button#removeFilterButton Remove Last Filter 
    %select#filtersListInner{:onchange => "getSelected(value)", :name => "filter", :hidden => "true"}
      - @students.column_names.each do |column_name|
        %option{:value => column_name}= column_name
    %select#comparatorListInner{:onchange => "getSelected(value)", :name => "comparator", :hidden => "true"}
      %option{:value => "="}= "="
      %option{:value => ">"}= ">"
      %option{:value => "<"}= "<"
      %option{:value => ">="}= ">="
      %option{:value => "<="}= "<="
    %input#filterValueInner{:type => "text", :name => "filterValue", :hidden => "true"}
    %hr
      %p How many attributes do you want?
      %input#noOfInfo{:type => "text"}
        %button#confirmNoOfInfo Confirm
      %button#removeAttributeButton Remove Last Attribute
    %select#attributeListInner{:onchange => "getSelected(value)", :name => "attribute", :hidden => "true"}
      - @students.column_names.each do |column_name|
        %option{:value => column_name}= column_name
      %option{:value => "count"} count
    %p{:id => "testing"}   
    %hr
      
    %form#daForm{"accept-charset" => "UTF-8", :action => "/site/studentOutput", :method => "post"}
      %input{:name => "utf8", :type => "hidden", :value => "✓"}/
      %input{:name => "authenticity_token", :type => "hidden", :value => "R6tWZgNywVkSWBBcFzhGpcvVQOpv9bTWfT/s5oH2OrLgEhEqzl2EhcnfAwHu/V/ETSdEUKUjGO4BNBKRBJbA4w=="}/
      %fieldset
        %label{:for => "Filters"} Filters:
        #filterDiv{:name => "filterDiv"}
          - if @query != nil
            - filterIndex = 0
            - @query.filters.each do |filter|
              %select#loadedFilterList{:onchange => "getSelected(value)", :name => "filter" + filterIndex.to_s}
                - @students.column_names.each do |column_name|
                  %option{:value => column_name, :selected => column_name == filter.field}= column_name
                end
              %select#loadedComparatorList{:onchange => "getSelected(value)", :name => "comparator" + filterIndex.to_s}
                %option{:value => "=", :selected => "=" == filter.comparator} =
                %option{:value => ">", :selected => ">" == filter.comparator} >
                %option{:value => "<", :selected => "<" == filter.comparator} <
                %option{:value => ">=", :selected => ">=" == filter.comparator} >=
                %option{:value => "<=", :selected => "<=" == filter.comparator} <=
              %input#loadedFilterValue{:type => "text", :name => "filterValue" + filterIndex.to_s, :value => filter.value}
              %br
              - filterIndex = filterIndex + 1
        %label{:for => "Attributes"} Attributes:
        #attributeDiv{:name => "attributeDiv"}
          - if @query != nil
            - i = 0
            - @query.headers.each do |header|
              - name = "attribute" + i.to_s
              %select#loadedHeaderList{:onchange => "getSelected(value)", :name => name}
                - @students.column_names.each do |column_name|
                  %option{:value => column_name, :selected => column_name == header.field}= column_name
                end
                %option{:value => "count", :selected => "count" == header.field} count
              %br
              - i = i + 1
        %input{:name => "commit", :type => "submit", :value => "Apply"}/
        %label{:for => "save label"} Query Name to Save:
        %input{:name => "saveName", :type => "text"}/
        %br/
        %input{:name => "commit", :type => "submit", :value => "Save"}/
      
    :javascript
      var filterChosen = "";
      var comparatorChosen= "";
      var filterValueChosen="";
      var dropdown1="";
      
      document.getElementById("confirmNoOfFilters").onclick=function(student)
      {
      	var noOfFilters=document.getElementById("noOfFilters").value;
      	var count = parseInt(#{@filterCount},10)
      	for(var i = count; i< count + parseInt(noOfFilters, 10); i++)
      	{
      	    document.getElementById("testing").innerHTML = count
      	  
          var list = document.getElementById("filtersListInner").cloneNode(true);
          list.removeAttribute("hidden");
          list.name = "filter" + i.toString();
          list.id = "filter_" + i.toString();
          console.log("Hello")
          filterDiv.appendChild(list);
          var comparator = document.getElementById("comparatorListInner").cloneNode(true);
          comparator.removeAttribute("hidden");
          comparator.name = "comparator" + i.toString();
          comparator.id = "comparator_" + i.toString();
          filterDiv.appendChild(comparator);
          var filterValue = document.getElementById("filterValueInner").cloneNode(true);
          filterValue.removeAttribute("hidden");
          filterValue.name = "filterValue" + i.toString();
          filterValue.id = "filterValue_" + i.toString();
          filterDiv.appendChild(filterValue);
          filterDiv.appendChild(document.createElement("br"));
        }
      	
      }
      
      document.getElementById("confirmNoOfInfo").onclick=function(student)
      {
      	var noOfInfos=document.getElementById("noOfInfo").value;
      	var count = parseInt(#{@headerCount},10)
      	for(var i = count; i< count + parseInt(noOfInfos, 10); i++)
      	{
          var list = document.getElementById("attributeListInner").cloneNode(true);
          list.removeAttribute("hidden");
          list.name = "attribute" + i.toString()
          list.id = "attribute_" + i.toString()
          attributeDiv.appendChild(list);
          attributeDiv.appendChild(document.createElement("br"));
        }
      	
      }
      document.getElementById("removeFilterButton").onclick=function(student)
      {
      	for(var i = 0; i< 4; i++)
          filterDiv.removeChild(filterDiv.lastChild);
      }
      document.getElementById("removeAttributeButton").onclick=function(student)
      {
      	for(var i = 0; i< 2; i++)
          attributeDiv.removeChild(attributeDiv.lastChild);
      }


